.page-header {
    background: linear-gradient(135deg,#198754,#4dcf8e);
    color: white;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
}

    .page-header h2 {
        font-weight: bold;
    }

.table th {
    white-space: nowrap;
}
